<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.path" value="logs" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/requests/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/requests/api_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>      
            <pattern>%fullRequest%n%n%fullResponse%n=================%n</pattern>
        </encoder>
    </appender>

    <appender-ref ref="FILE"/>
</configuration>